*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  border: 1px solid lightblue;
  margin: 1rem 2rem;
  padding: 1.5rem;
  border-radius: 3px;
}
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}
.header h2{
   font-size: 24px;
}
.header .btn{
  background: green;
  border:none;
  padding: .5rem .9rem;
  border-radius: 5px;
  transition: all .3s ease;
}
.header .btn:active{
  font-size: 12px;
}

.task{
  background: grey;
  margin: 1rem;
  padding: 1rem;
  border-radius: 3px;
}
.task h3{
  font-size: 17px;
  display: flex;
  justify-content: space-between;
}
.task p{
  font-size: 12px;
}
.reminder{
  border-left: 2px solid green;
}
.icon{
  color: rgb(247, 64, 64);
}